<head>
  <title>Parthiban Loganathan</title>
  <meta name="Description" content="Parthi's node on the world wide web">
  <meta name="author" content="Parthiban Loganathan">
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="3 days">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" sizes="16x16" href="/img/favicon.ico">

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Inconsolata', 'Muli']
      }
    });
  </script>  

</head>
