body {
  background: black;
  color: white;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
}

#intro {
  text-align: center;
}

#salutation {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 500%;
  line-height: 150%
}

#description {
  text-align: center;
  font-size: 170%;
}

.company-image {
  width: 270px;
  height: 270px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
